#main-header {
  font-family: monospace;
  text-align: center;
}

#second-header {
  font-family: monospace;
  text-align: center;
}

#paragraph {
  font-family: monospace;
  text-align: center;
}

#cat-button {
  height: 50px;
  font-family: monospace;
}

#hot-dog-button {
  height: 50px;
  font-family: monospace;
}

#red-bg-button {
  height: 50px;
  font-family: monospace;
}

#orange-bg-button {
  height: 50px;
  font-family: monospace;
}

#yellow-bg-button {
  height: 50px;
  font-family: monospace;
}

#green-bg-button {
  height: 50px;
  font-family: monospace;
}

#blue-bg-button {
  height: 50px;
  font-family: monospace;
}

#random-bg-button {
  height: 50px;
  font-family: monospace;
}

#button-gif {
  position: relative;
  left: 350px;
  display: none;
}

#button-image {
  position: relative;
  left: 350px;
  display: none;
}

.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.myslide {
  display: none;
  text-align: center;
}

.button-container {
  display: flex;
  justify-self: center;
  justify-content: center;
  gap: 50px;
  background-color: dimgrey;
  width: 150px;
  border-radius: 10px;
  outline: 5px solid;
}

.next {
  position: relative;
  font-size: 50px;
}

.prev {
  position: relative;
  font-size: 50px;
}
